body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
}

.header{
    background-color: #04AA6D;
    color: white;
    padding: 20px;
    text-align: left;
}
.container{
    display: flex;
    margin-top: 20px;
}

.sidebar{
    width: 25%;
    background: #f1f1f1;
    padding: 15px;
}

.sidebar button{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    background: #e7e7e7;
    text-align: left;
    cursor: pointer;
}

.sidebar button:hover{
    width: 75%;
    padding: 0 20px;
}